/*google font*/
@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy&family=Poppins:wght@100;200;400&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;  
}

/*variables*/
:root{
    --container--color:#3b4d61;
    --second-color:#EF3D59;
    --text-color:#172317;
    --bg-color:#fff;
}

::selection{
    color: var(--bg-color);
    background: var(--second-color );
}

a{
    text-decoration: none;
}

li{
    list-style:none;
}

img{
    width:100%;
}

section{
    padding:3rem 02;
}

.container{
    max-width: 1068px;
    margin:auto;
    width:100%;
}
/*header*/
header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 200;
}

.nav{
display: flex;
align-items: center;
justify-content: space-between;
padding:18px 0;
}

.logo{
    font-size: 1.5rem;
    font-weight: 600;
    color:var(--bg-color);
}

.logo span{
    color:var(--second-color);
}

.login{
    padding: 8px 14px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius:4px;
    background:var(--second-color);
    color: var(--bg-color);
}

.login :hover{
    background:hsl(24,98%,58%);
    transition:0.3s
}

/*home*/
.home{
    width:100%;
    min-height:440px;
    background: var(--container--color);
    display:grid;
    justify-content: center;
    align-items: center;
}

.home-text{
    color:var(--bg-color);
    text-align: center;
}

.home-title{
    font-size: 3.5rem;
}

.home-subtitle{
    font-size:1rem;
    font-weight:400;
}

/*post-filter*/
.post-filter{
    display: flex;
    justify-content:center;
    column-gap: 1.5rem;
    margin-top:2rem  !important;
}

.filter-item{
    font-size:0.9rem;
    font-weight: 500;
    cursor:pointer;
}

.active-filter{
    background: var(--second-color);
    color: var(--bg-color);
    padding:4px 10px;
    border-radius:4px;
}











.container1{
    display: flex;
    width: 70%;
    margin-bottom: 30px;
}
/* #root{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-gap: 20px;
} */
.sidebar{
    width: 40%;
    border-radius: 5px;
    background-color: #eee;
    margin-left: 20px;
    padding: 15px;
    text-align: center;
}
.head1{
    background-color: teal;
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: aliceblue;
    display: flex;
    align-items: center;
}
.foot1{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid black;
}
